.main-gallery{
  background: url("./assets/pexels-photo-205321.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  z-index: -10;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 0.35fr 1fr 0.9fr;
  grid-template-areas: 
  ". . ."
  ". gallery ."
  ". . .";
}

.photo-gallery {
  grid-area: gallery;
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

.img-fluid{
  height: 350px !important;
  object-fit: cover;
  object-position: top;
}

.gallery-item{
  padding: 10px !important;
  border-radius: 5px;
  height: 100%;
}


@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}